*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
    }
body{
    background-image: url(./mainPageImg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.sec{
    position: absolute;
    top:48%;
    left:43%;
    
}


button{
   padding: 20px;
   border-radius:10px;
   color: blueviolet;
   font-size: x-large;
   font-style: italic;
   font-weight: bold;
   background-color: antiquewhite;
   box-shadow: 0 10px 10px 0 rgba(22, 22, 19, 0.2),
   0 10px 10px 0 rgba(248, 8, 8, 0.19);
   
   }
   button:hover{
       color: skyblue ;
   }
/* margin-top : 330px;
   margin-left: 700px; */
@media only screen and (max-width:450px) {
    .sec{
        position: absolute;
        top:45%;
        left:20%;
        
    }
    
   }
@media (min-width: 451px) and (max-width :700px){
   .sec{
        position: absolute;
        top:45%;
        left:23%;
       
    }
    button{
        padding: 10px;
        border-radius:10px;
        color: blueviolet;
        font-size: large;
        font-style: italic;
        font-weight: bold;
        background-color: antiquewhite;
        box-shadow: 0 10px 10px 0 rgba(22, 22, 19, 0.2),
         0 10px 10px 0 rgba(248, 8, 8, 0.19);
        
        }
        button:hover{
            color: skyblue ;
        }
    
   }